export DOCKER_USER=SOMEDOCKERUSERNAME
export DOCKER_MASTER_REPOSITORY=SOMEDOCKERREPOSITORY
export DOCKER_SLAVE_REPOSITORY=SOMEDOCKERREPOSITORY
export SMOKEPING_SECRET=SOMESECRET
export SMOKEPING_NODE=SOMENODE
export SMOKEPING_URL="https://SOMEURL"